.checkout-container {
  display: flex;
  flex-direction: column;
}

.checkout-address, .checkout-payment {
  display: flex;
  flex-direction: column;
  margin: 10px 15px 10px 15px;
}

.delivery-label, .payment-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: lightsalmon;
  color: white;
  height: 45px;
  font-size: 15px;
  padding: 10px 0 10px 15px;
}

.delivery-form, .payment-form {
  display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0 10px 0;
    background-color: rgb(255, 255, 255);
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.address-inputs, .payment-inputs {
  height: 38px;
  margin: 10px 0 10px 0;
}

.delivery-button, .payment-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 135, 92);
  color: white;
  height: 40px;
  width: 70%;
}
/* .checkout-payment {
  width: 100px;
  height: 100px;
  background-color: green;
  margin: 15px 0 15px 0;
}
.checkout-review {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin: 15px 0 15px 0;
} */