.cart-item-img {
  width: 35px;
  height: auto;
}

@media only screen and (min-width: 1024px) {
  .cart-container {
    display: flex;
    justify-content: center;
  }

  .cart-wrapper {
    width: 50%;
  }

  .cart-img-container {
    width: 100px;
    height: 100px;
  }

  .cart-item-img {
    width: 50px;
  }

  .cart-p-bottom {
    margin: 5px 0 5px 0px;
    font-size: 20px;
  }

  .cart-p-top {
    font-size: 20px;
    margin: 5px 0 5px 50px;
  }
}