.nav-wrapper {
  display: flex;
  height: 70px;
}

.nav-container-left {
  font-size: 12px;
}

.nav-container-right {
  display: flex;
  align-items: center;
  color: rgb(255, 135, 92);
  font-size: 12px;
}

.nav-content-right {
  padding: 0 10px 0 10px;
}

.nav-header {
  padding: 0 25px 0 25px;
  color: black;
  display: flex;
  justify-content: center;
}
