.summary-wrapper {
  display: flex;
  flex-direction: column;
}

.summary-header-container {
  display: flex;
  padding: 10px;
}

.summary-header-left {
  padding: 10px;
}

.summary-header-right {
  display: flex;
  justify-content: flex-end;
  padding-left: 100px;
}

.summary-header-content {
  margin: 0;
}

.summary-img-container {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin: 10px 15px 10px 15px;
  width: 200px;
  height: 200px;
  align-items: center;
  margin-left: 50px;
}

.summary-alt-img-container {
  display: flex;
  margin: 0 10px 0 10px;
  padding: 0px 15px 0px 15px;
  text-align: center;
}

.summary-alt-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px 20px 10px;
  margin: 0 3px 0 3px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.summary-sizes-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary-content-container input[type='radio'] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.summary-content-container label {
  display: flex;
  justify-content: center;
  background-color: rgb(241, 241, 241);
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  margin: 2px 0 2px 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.summary-button {
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 20px;
  margin: 20px 0 20px 0;
  background-color: rgba(255, 135, 92);
  border-radius: 20px;
  color: white;
}

input[type=radio]:checked + label {
  border-color: rgba(255, 135, 92);
  
}

.lbl-radio {
  width: 50%;
}

@media only screen and (min-width: 375px) {
  .summary-header-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 20px;
  }

  .summary-header-right {
    padding-left: 0;
  }

  .summary-wrapper {
    align-items: center;
  }

  .summary-img-container {
    margin-left: 0;
  }

  .summary-selectSize-text {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .summary-header-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 20px;
  }

  .summary-header-right {
    padding-left: 0;
  }

  .summary-wrapper {
    align-items: center;
  }

  .summary-img-container {
    margin-left: 0;
  }

  .summary-selectSize-text {
    font-size: 20px;
  }
}